.button {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: var(--color-gray--300);
  color: var(--color-black);
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
}

.button:hover {
  background-color: var(--color-gray--400);
}
