:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000;

  --color-gray--100: #fafafa;
  --color-gray--200: #e2e2e2;
  --color-gray--300: #edf2f7;
  --color-gray--400: #e2e8f0;
}